/* ------------------------------------------ */

/*            RESPONSIVE STYLE
/* ------------------------------------------ */


/*Home banner area*/

@media only screen and (min-width: 1750px) and (max-width: 1920px) {
   

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
   
    
}

@media only screen and (max-width: 1024px) {
  
    
}

@media only screen and (max-width: 991px) {
    
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    
   
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    
    
    
  }
  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
   
    
    
  }
@media only screen and (max-width: 767px) {

    
}

@media only screen and (max-width: 479px) {

    
}

@media only screen and (max-width: 425px) {

   
}

@media only screen and (max-width: 359px) {

    
}


/*End Home banner area*/

@media screen and (max-width: 1350px) {
   
}

@media screen and (max-width: 1270px) {
   
}


@media screen and (max-width: 1200px) {

   
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    
}


@media screen and (max-width: 991px) {


   
}


@media screen and (max-width: 767px) {

    
    /*Header style*/

    .res_hide{
        display: none !important;
    }
    .res_show{
        display: block !important;
    }
    header{
        background: url("../images/header-banner.png") no-repeat center center;
        position: relative;
        background-size: cover;
        height: 30vh;
        width: 100%;
    }
   
    .navbar .navbar-nav {
        width: 100% !important;
        text-align: center !important;
        margin-right: 0 !important;
        background-color: #fff;
        -webkit-box-shadow: 0 5px 29px rgba(0, 205, 214, 0.3);
        box-shadow: 0 5px 29px rgba(0, 205, 214, 0.3);
        -webkit-transition: all 0.3s linear;
        transition: all 0.3s linear;
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);
        border-radius: 5px !important;
    }
    .navbar-nav li a {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    .navbar-toggle {
        padding: 10px 5px;
        margin-right: 0;
    }
    .navbar-collapse {
        margin-top: 10px;
    }
    .navbar-nav{
        margin-left: 0px;
        border-top: 1px solid rgba(255,255,255,0.5);
    }
    .navbar-nav li{
        margin-left: 0px;
        padding: 5px;
    }
    .navbar-nav li a:hover{
        color: #6300E2;
    }
    .navbar-nav li a.active {
        color: #6300E2;
        border-bottom: none;
    }
    .login_reg_buttons_cls li {
        display: inline-block;
        margin-left: 8rem;
        position: relative;
        top: 8px;
    }
    .pos-align-block {
       margin-top: -5rem;
    }
    .f-r-14{
        font-size: 13px;
    }
    .f-r-26{
        font-size: 26px;
    }
    .pad-left-right-5{
        padding-right: 15px;
        padding-left: 15px;
    }
    .max-width-popup-cls{
        max-width: 100%;
    }
}

@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) {

       /* .mobile_width_align img {
            width: 71%;
        }*/

     }
@media (max-width: 600px) {
   
}


@media screen and (max-width: 480px) {
    
}

@media (max-width: 479px) {
    
}

@media screen and (max-width: 394px) {
    
}