/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */


/*   01 - General & Basic Styles    */


/*   02 - Main Header style    */




/* ==========================================================================
   01. General & Basic Styles
   ========================================================================== */


body {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    font-family: "Roboto",sans-serif;
    width:100%;
	background: #FFFFFF;
}

body.no-scroll {
    overflow-y: hidden;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

a:focus {
    color: inherit;
}
.pt-100{
    padding-top: 95px;
}
.lh-70{
    line-height: 70px;
}
.ln-22{
    line-height: 22px;
}
.color_blue{
    color:#6300E2;
}
.color_yash{
    color:#6A6A6A;
}
.color_black{
    color: #000;
}
.color_yellow{
    color:#F9C52D;
}

.mt-60{
    margin-top: 40px !important;
}
.mt-35{
    margin-top: 35px !important;
}
.mt-100{
    margin-top: 100px;
}
.mt-50{
    margin-top: 50px;
}
.f-48{
    font-size: 48px;
}
.f-26{
    font-size: 26px;
}
.f-32{
    font-size: 32px;
}
.f-36{
    font-size: 36px;
}
.f-18{
    font-size: 18px;
}
.f-16{
    font-size: 16px;
}
.f-14{
    font-size: 14px;
}
.f-13{
    font-size: 13px;
}
.f-12{
    font-size: 12px;
}
.f-20{
    font-size: 20px;
}
.f-60{
    font-size: 60px;
}
.f-65{
    font-size: 65px;
}
.f-22{
    font-size: 22px;
}
.f-24{
    font-size: 24px;
}
.pd-50{
    padding: 50px !important;
}
.pd-80{
    padding: 100px 0px 0px 0px;
}
.f-88{
    font-size: 88px;
}
.f-75{
    font-size: 75px;
}
.br-0{
    border:none;
    box-shadow: 0px 0px 10px #00000029;
}
.center-auto{
    margin: auto;
    display: block;
}
.text-decoration-none{
    text-decoration: none;
}
.zoom {
    transition: transform .2s;
    margin: 0 auto
}
.mt-6{
   margin-top:5rem;	
}
.mt-6_5{
    margin-top:5.4rem;	
 }
.mb-6{
    margin-bottom:5rem !important;
}
.pd-20-40{
    padding: 20px 40px 50px 40px !important;
}
.zoom:hover {
    -webkit-transition: .7s;
    transition: .7s;
    cursor: pointer;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}
.res_hide{
    display: block !important;
}
.res_show{
    display: none !important;
}
/* ==========================================================================
   02. Main Header style
   ========================================================================== */

header{
    background: url("../images/header-banner.png") no-repeat center center;
    position: relative;
    background-size: cover;
    height: 380px;
    width: 100%;
}
nav {
    background: transparent;
    padding: 10px 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border-radius: 0px !important;
    left: 0;
    right: 0;
    height: auto;
    z-index: 99;
}

.navbar-nav{
    margin-left: 40px;
}
.navbar-nav li{
    margin-left: 45px;
}
.navbar-nav li a:hover,.registerCls:hover{
    border-bottom: 3px solid #6300E2;
    color: #6300E2;
}

.navbar-nav li a.active {
    border-bottom: 3px solid #6300E2;
    color: #6300E2;
}

.nav-link{
    padding: 3px 5px;
}

.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background: transparent;
}

.active {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.default {
    top: 0;
}
.navbar-fixed {
    position: fixed;
}
.top-nav-collapse {
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 0px !important;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.theme-bg-gradient {
    background: #fff;
    -webkit-box-shadow: 0 6px 13px 0 rgba(0,0,0,.06);
    box-shadow: 0 6px 13px 0 rgba(0,0,0,.06);
    
}
.color-black-scroll a {
  color: #000 !important;
    
}
.color-black-scroll>.active {
    color: #6300E2 !important;
      
}
.color-black-scroll a:hover {
    color: #6300E2 !important;
      
}
.position_left{
    position: relative;
    left: 5%;
}
.position_left li{
    margin-left: 20px;
}
.login_reg_buttons_cls li{
    display: inline-block;
   margin-left: 10px;
   position: relative;
   top: 8px;

}
.loginActiveCls{
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.loginActiveCls{
    background: #6300E2;
    color: #fff !important;
    font-weight: bold;
}

.loginActiveCls:hover{
    text-decoration: none;
    box-shadow: 0px 0px 11px rgba(35, 47, 115,0.8);
    transition: box-shadow .3s ;
}
.dropdown-item{
    color: #6300E2 !important;
}

.arrow_box_top {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, .2);
    padding: 10px;
    left: -80%;
    top: 34px;
}
.left90{
    left: -60% !important
}
.arrow_box_top::before,
.arrow_box_top:after {
    bottom: 100%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.arrow_box_top:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -15px
}

.arrow_box_top::before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #fff;
    border-width: 16px;
    margin-left: -16px
}
.dropdown-menu a{
    margin-top: 4px;
}
.dropdown-menu a:hover{
    background: #6300E2;
    color: #fff !important;
    box-shadow: 0px 0px 11px rgba(35, 47, 115,0.3);
    border-radius: 2px;
    border-bottom: 0px !important;
}
.navbar_icon_res{
    color: #FFFFFF;
    font-size: 38px;
    
}
a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}
.border-white-thick{
    border:3px solid #FFFFFF;
}
.bg-white-block{
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 5px 30px;
}
.img-center{
    display: block;
    margin: auto;
}
.w-150px{
    width: 150px;
}
.title-pos{
    position: relative;
    top: -10px;
}
.pos-align-block{
   margin-top: -9.5rem;
}
.btn-custom-skyblue{
    background: #6300E2;
    border-radius: 10px;
    padding: 10px 35px;
    color: #EEEBFF;
    font-size: 14px;
}
.btn-custom-skyblue:hover{
    box-shadow: 0px 0px 11px rgba(35, 47, 115,0.8);
    transition: box-shadow .3s ;
    color:#EEEBFF;
}
.social-media-icons{
    text-align: center;
}
.social-media-icons li{
    display: inline-block;
    font-size: 24px;
    color: #BDBDBD;
    margin-left: 17px;
}
.social-media-icons li :hover{
    color: #6300E2;
}
.social-media-icons li a{
    color: #BDBDBD;
}
.logo-icons{
    text-align: center;
}
.logo-icons li{
    display: inline-block;
    font-size: 24px;
    margin-left: 17px;
}
.logo-icons li img{
   width: 90px;
}
.neet-jee-cls{
    float: right;
}
.neet-jee-cls li{
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
}
.neet-jee-cls li:hover{
    background-color: #6300E2;
	color: #fff;
    transition: 0.5s all ease-out;
	-webkit-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out;
}
.neet-jee-cls li.active{
    background-color: #6300E2;
	color: #fff;
    border: none;
    transition: 0.5s all ease-out;
	-webkit-transition: 0.5s all ease-out;
	-moz-transition: 0.5s all ease-out;
}
.white-block {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    opacity: 1
}
.text-underline{
    text-decoration: underline;
}
.pad-5{
    padding: 6px 35px;
}
.btn-custom-outline{
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 14px;
    border: 1px solid #6300E2;
}
.btn-custom-outline:hover{
    box-shadow: 0px 0px 11px rgba(35, 47, 115,0.8);
    transition: box-shadow .3s ;
    color:#FFFFFF;
    background-color:#6300E2;
}
.place-offer-cls li{
    font-size: 14px;

}
.place-offer-cls li img{
   margin-right: 10px;
   width: 20px;
   height: 20px;

}
.place-offer-cls li:not(:first-child) {
    margin-top: 1rem;
}
.mt-2_8rem{
    margin-top: 2.8rem;
}
.color_light_red{
    color: #FFC2C0;
}
.flex-progress-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.flex-blocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #FAE0D8;
    border-radius: .5rem;
    width: 50%;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #6300E2;
    transition: width .6s ease;
}
.media-custom-cls img{
    width: 70px;
}
.media-custom-cls>.media-body{
    margin-top: 18px;
}
.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: 500px;
}

.gmap_iframe {
    height: 500px !important;
}
.bg-skyblue{
    background: #6300E2;
    border-radius: 10px;
    padding: 25px 35px;
}
.color-white{
    color: #FFFFFF;
}
.btn-custom-call{
    background: #EEEBFF;
    border-radius: 5px; 
    padding: 5px 15px;
}
.fb-cus img{
    width: 80px;
    margin-top: 15px;
}
footer{
    background-color: #F7F5F5;
    padding: 20px;
}
.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 10px;
  }
  .input + .input {
    margin-top: 0.8rem;
  }
  
  .input_label {
    color: #8597a3;
    position: absolute;
    top: 20px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .input_field {
    border: 0;
    padding: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 14px;
    line-height: 40px;
  }
  .input_field:focus, .input_field:valid {
    outline: 0;
    border-bottom-color: #6300E2;
  }
  .input_field:focus + .input_label, .input_field:valid + .input_label {
    color: #6300E2;
    -moz-transform: translateY(-25px);
    -ms-transform: translateY(-25px);
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
  .max-width-popup-cls{
      max-width: 30%;
  }
  .label-color,select{
    color: #8597a3 !important;
  }