@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Proxima%20Nova:300,300i,400,400i,500,500i,700,700i');
@import url("https://use.typekit.net/ija5zmr.css");

body{
	font-size: 14px;
	font-family:'proxima-nova',sans-serif;
	color:#333;
	font-weight:400;
	background-color:#ffffff !important;
	-webkit-print-color-adjust:exact;
        color-adjust:exact;
}
.page-wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 300px;
	overflow: hidden;
}
.container{
	border:1px solid #ddd;
	margin-bottom: 20px;
}
.bg_background{
	background: url(../images/header_path.png)  no-repeat;
	background-size: 100%;
	height: 70vh;
}
.pad_30{
	padding: 20px;
}
.pad10{
	padding: 10px;
}
.white_block{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #E8E8E8;
	border-radius: 10px;
	opacity: 1;
	padding: 25px;
}
.text-img-align img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 65%;
}
.text-img-align p{
	line-height: 22px;
}
.card{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border: 1px solid #E8E8E8;
	border-radius: 10px;
	opacity: 1;
}
.card-header{
	background: #FFFFFF;
	border-radius: 10px !important;
	border: 1px solid #E8E8E8;
}
.card-header h6{
	color: #1D74B3;
	font-weight: bold;
}
.scoring_align img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.scoring_align p{
	color: #1D74B3;
	font-size: 12px;
	text-align: center;
}
.scoring_align h4{
	color: #F8C44A;
	font-weight: bold;
	text-align: center;
}
.scoring_align_text h5{
	color: #1D74B3;
	font-weight: bold;
}
.scoring_align_text h1{
	color: #21963E;
	font-weight: bold;
}
.scoring_align_text h6{
	color: #212121;
	font-weight: bold;
	position: relative;
	top: -14px;
	left: 40px;
}
.font16{
	font-size: 1.25rem;
	font-weight: bold;
}
.font12{
	font-size: 12px;
}
.border-raidus{
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #E8E8E8;
}
.bg-yash-color{
	background-color: #F0F0F0;
	padding: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.color-green{
	color: green;
}
.color-red{
	color: #DC3445;
}
.bg-light-yash-color{
	background-color: #F0F0F0;
	padding: 5px;
	opacity: 0.51;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.list-align-observations li{
	line-height: 25px;
}
ul ::marker {
    color: #1CA086;
}
.bg-dark-yash{
	box-shadow: none;
	border:none;
}
.bg-dark-yash > .card-header{
	background: #F0F0F0 0% 0% no-repeat padding-box;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	color: #212529;
	font-weight: bold;
	opacity: 1;
}
.bg-dark-yash > .card-body{
	background: #f7f7f7 0% 0% no-repeat padding-box;
	color: #212529;
	opacity: 0.85;
}
.difficulty-align-li li{
	line-height: 25px;
	font-weight: bold;
}
.difficulty-align-li li span{
	font-weight: normal;
	float: right;
}
.table-question-type thead tr th {
	text-align: center;
	font-size: 12px;
}
.table-question-type tbody tr td {
	background: #f4c2c7;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}
.table-question-type tfoot tr td {
	background: #fdecb7;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}
.table-subject-type thead tr th {
	background-color: #f8f9f9;
	text-align: center;
	font-size: 12px;
}
.table-subject-type tbody tr td {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}
.table-subject-type tbody tr td:nth-child(n+7) {
	background-color: #f8f9f9;
}
.table-subject-type tbody tr td:nth-child(2) {
	background-color: #f8f9f9;
}
.table-overllSub-type{
	box-shadow: 0px 3px 6px #00000029;
}
.table-overllSub-type thead tr th {
	background-color: #E8E8E8;
	text-align: center;
	font-size: 12px;
	border-top: 0px;
}
.table-overllSub-type tbody tr td {
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	border-top:0px;
}
.table-overllSub-type thead tr th:first-child{
	border-top-left-radius: 10px;
}
.table-overllSub-type thead tr th:last-child{
	border-top-right-radius: 10px;
}
.table-overllSub-type tbody tr td:first-child{
	border-left: 1px solid #E8E8E8;
}
.table-overllSub-type tbody tr td:last-child{
	border-right: 1px solid #E8E8E8;
}
.table-overllSub-type tbody tr:last-child{
	border-bottom: 1px solid #E8E8E8;
}
.subject_list_type li {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	font-size: 12px;
	font-weight: bold;
}
.subject_list_type li span {
	position: relative;
	top: 3px;
}
.subject_border {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 3px;
	margin-left: 5px;
}
.color_green {
	background: #32c24e;
	border-radius: 3px;
}
.color_red {
	background: #f64f2b;
	border-radius: 3px;
}
.color_yash {
	background: #b2b2b2;
	border-radius: 3px;
}
.white_block_graph{
	background: #FFFFFF;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	padding: 8px;
}
.card_img{
	background: none;
	box-shadow: none;
	border: none;
	border-radius: 0px;
}
.card-img-overlay {
	position: absolute;
	top: 37px;
	right: 0;
	bottom: 0;
	left: 0;
	font-weight: bold;
	padding-left: 35px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 35px;
}
.card-img-overlay h5{
	font-weight: bolder;
}
.bg_dark_yash{
	background: #EDEDED;
	opacity: 1;
	padding: 10px;
	margin-left: -15px;
	margin-right: -15px;
	color:#444444;
}
.bg_dark_yash img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 15px;
}
.bg_dark_yash p{
	text-align: center;
}
.print_css11 th{
        background-color: #f4c2c7 !important;
         -webkit-print-color-adjust:exact;
        color-adjust:exact;
    }
.print_css td{
        background-color: #f4c2c7 !important;
         -webkit-print-color-adjust:exact;
        color-adjust:exact;
    }
	.print_css1 td{
        background-color: #fdecb7 !important;
		 -webkit-print-color-adjust:exact;
        color-adjust:exact;
        
    }
	.print_css2 td{
        background-color: #5cb85c !important;
		 -webkit-print-color-adjust:exact;
        color-adjust:exact;
        
    }
@media print {
.print_css11 th{
        background-color: #f4c2c7 !important;
         -webkit-print-color-adjust:exact;
        color-adjust:exact;
    }
    .print_css td{
        background-color: #f4c2c7 !important;
         -webkit-print-color-adjust:exact;
        color-adjust:exact;
    }
	.print_css1 td{
        background-color: #fdecb7 !important;
		 -webkit-print-color-adjust:exact;
        color-adjust:exact;
        
    }
	.print_css2 td{
        background-color: #5cb85c !important;
		 -webkit-print-color-adjust:exact;
        color-adjust:exact;
        
    }


}